<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loginStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header>
        <nav>
            <img class="logoml" src="/image/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <div class="searchbuttom">
                <input type="search" placeholder="Buscar Producto">
                <i class="fas fa-search"></i>
            </div>
            <p class="texthead" style="text-align: center;"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjetas de credito</p>
        </nav>
        <nav class="mobile-none">
            <div class="urls1">
                <a href="/">Ofertas</a>
                <a href="">Tiendas Oficiales</a>
                <a href="">Vender</a>
                <a href="">Ayuda</a>
            </div>
            <div class="urls2">
                <a href="register">Crea tu Cuenta</a><i class="far fa-id-card"></i>
                <a href="login">Ingresa</a><i class="fas fa-sign-in-alt"></i>
                <a href="">Mis Compras</a><i class="fas fa-shopping-basket"></i>
            </div>
        </nav>
        <div class="burger-menu, tablets-none">
            <i class="fas fa-bars, tablets-none"></i>
        </div>
    </header>
    <main>
        <form class="formlogin" action="/" method="get">
            <label class="labellogin" for="usuario">Nombre de usuari@</label>
            <input class="inputlogin" type="text" name="usuario" id="usuario" placeholder="Usuario" required>

            <label class="labellogin" for="password">Contraseña</label>
            <input class="inputlogin" type="password" name="password" id="password" placeholder="********" required>

            <button class="buttonlogin" type="submit"><a style="color: white;" href="/">Enviar</a></button>
        </form>
    </main>
    <footer>
        <nav>
            <div class="iconos">
                <i class="fas fa-credit-card"></i>
            </div>
            <p class="texto-iconos">Pagá con tarjeta o en efectivo</p>
            <p class="cuerpos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </nav>
        <nav>
            <div class="iconos">
                <i class="fas fa-gift"></i>
            </div>
            <p class="texto-iconos">Envío gratis desde $ 2.500</p>
            <p class="cuerpos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </nav>
        <nav>
            <div class="iconos">
                <i class="fas fa-user-shield"></i>
            </div>
            <p class="texto-iconos">Seguridad, de principio a fin</p>
            <p class="cuerpos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </nav>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>