*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

article{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

img{ 
    text-align: center;
}

header{
    background-color: #EAC926;
}

.cuerpos {
    font-size: 12px;
    text-align: center;
}

.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.divlogocamion{
    align-self: flex-end;
}

.fa-truck{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: white;
    border-radius: 50%;
}

@keyframes rotacion {
    100% {transform: rotate(-90deg);}
}

.fa-truck:hover {
    animation: rotacion 1s infinite;
}

.descuentos{
    font-size: 75%;
    color: lightgreen;
    font-weight: bold;
    align-self: flex-end;
    font-size: 16px;
}

.descripcion{
    font-size: 16px;
    align-self: stretch;
    display: none;
}

.burger-menu{
    display: inline-flex;
    background-color: #1259c3;
    padding: 7px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 50%;
    border-radius: 4px;
}

.iconos{
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.texto-iconos {
    font-weight: bold;
    text-align: center;
}

.banner{
    width: 100vw;
}

.preciosydescuentos{
    display: flex;
}

footer>nav{
    display: block;
}

@media (max-width: 361px){ /* Mobile */

    .mobile-none{
        display: none;
    }

    .logoml{
        text-align: center;
        width: 45%;
    }
    
    .searchbuttom{
        text-align: center;
        display: inline;
        width: 40%;
    }
    
    .texthead{
        margin: 10px auto;
    }
}
    
 @media (min-width: 361px){ /* Tablets */
    .burger-menu{
        display: none;
    }

    .tablets-none{
        display: none;
    }

    section{
        margin: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    article{
        width: calc(48%);
    }

    article:hover{
        box-shadow: 0px 0px 5px 3px rgba(100,100,100,1);
        .descripcion{
            display: block;
        }
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logoml{
        width: calc(33.3%);
    }

    .searchbuttom{
        text-align: center;
        justify-content: center;
        margin: auto;
        width: 33.3%;
    }
    
    .texthead{
        font-size: 90%;
        text-align: center;
        margin: auto;
        width: calc(33.3%);
    }

    .urls1{
        font-size: 90%;
        width: 50%;
        text-align: left;
    }

    .urls2{
        font-size: 90%;
        width: 50%;
        text-align: right;
    }
}

@media (min-width: 769px){ /* Laptop */
    footer{
        display: flex;
        flex-wrap: wrap;
    }
    footer>nav>div>i:hover{
        color: yellow;
    }
    footer>nav{
        margin-bottom: 10px;
        width: 32vw;
    }

    .laptop-none{
        display: none;
    }

    article{
        width: calc(23%);
    }
}